.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px 24px;
}

.title-bar {
  padding-top: 8px;
  flex: 1;
  max-width: 920px;
  text-align: center;
}

.logout-space {
  min-width: 154px;
  min-height: 90px;
  padding-top: 32px;
  padding-left: 32px;
}

.logout-button {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #dce0e3;
  cursor: pointer;
  padding: 2px 12px;
  transition: all 0.24s ease 0s;
  width: auto;
  background-color: white;
  border-radius: 12px;
  line-height: 24px;
}

.logout-button:hover {
  background: #dce0e3;
  color: black;
  border: 1px solid #ccc;
}

.logout-button:active {
  color: #0667c8;
  background: #cde1f4;
  border: 1px solid #0667c8;
}

.toggle {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  top: 2px;
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #148545;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.diagnostic-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 920px;
}
.diagnostic-container > * {
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(23, 24, 26, 0.08) 0px 2px 8px 0px;
}

.diagnostic-tool {
  flex-basis: 100%;
  padding: 24px;
}

.sft-status {
}

.ok-nok-field {
  background-color: #4a935c;
}

.description-small {
}

.call-stats {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
  margin: 24px 0px;
  width: 100%;
  height: 64px;
}

.diagnostic-element {
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
}

.show-diagnostic-details {
}

.save-report,
.send-report {
  flex-basis: 50%;
  gap: calc(50% / 0.75);
  text-align: left;
  padding: 24px;
}

.description-main {
  font-size: 16px;
  font-style: normal;
  color: #17181a;
  font-weight: 600;
  line-height: 20px;
}

.checkbox-description {
  color: #676b71;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.btn-save-report {
  width: 404px;
  height: 48px;
  margin-top: 25px;
  background: #0667c8;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.btn-save-report:disabled,
.btn-save-report[disabled] {
  background: #cbced1;
  border-radius: 16px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.24s ease 0s;
  color: #54585f;
  font-weight: 600;
  border: none;
}

.btn-save-report:enabled {
  transition: all 0.24s ease 0s;
}

.btn-save-report:hover:enabled {
  background: #0552a0;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.btn-save-report:enabled:active {
  background: #043e78;
}

.btn-send-report {
  width: 404px;
  height: 48px;
  margin-top: 48px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.24s ease 0s;
}

.btn-send-report:hover {
  background: #dce0e3;
  color: black;
  border: 1px solid #ccc;
}

.btn-send-report:active {
  color: #0667c8;
  background: #cde1f4;
  border: 1px solid #0667c8;
}
